html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


#landing {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%221440%22%20height=%22661.1%22%20viewBox=%220%200%201440%20661.1%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(92,%20106,%20196)%20!important;%20%7D%3C/style%3E%3Cpath%20fill=%22rgb(92,%20106,%20196)%22%20d=%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22/%3E%3C/svg%3E") no-repeat 50% 50%;
    background-size: cover;
}

#content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
}

#name {
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
}

#description {
    font-size: 1.2rem;
    margin: 0;
}

#resumeButton {
    margin: 1rem 0 0 0;
}


/* Buttons */
.primaryButton {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #212b35;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color ease-in-out 0.2s;
}

.primaryButton:hover {
    background-color: #090c0f;
}

/* Social Icons */
#socialContainer {
    margin-top: 1rem;
}

.social {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

/* Bouncing arrow */

#arrow {
    color: white;
    text-decoration: none;
}

.arrow {
    text-align: center;
    margin: 5% auto;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}